*{
    background-color: lightblue;
    padding: 0;
    margin:0;
   
}

div{
  align-items: center;
  display:flex;
  width:100%;
 height: 100vh;
 justify-content: center;
 flex-direction: column;



}
button{
    cursor: pointer;
    background-color: lightpink;
    height:29px;
    width:150px;
    
}

@media (max-width: 530px)
{
    button{
        background-color: lightgreen;
    }
div{
    background-color: lightcoral;
}
}